@{
    ViewData["Title"] = "About these datasets";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

        <p><more>Project Tycho® is a project at the University of Pittsburgh to advance the availability and
        use of public health data for science and policy making. Currently, the Project Tycho®
        database includes data from all weekly notifiable disease reports for the United States
        dating back to 1888. These data are freely available to anybody interested. Additional U.S.
        and international data will be released twice yearly.
    </more></p>

<br>

        <p><more><i>Project Tycho® level 1</i> data include data counts that have been standardized for specific analyses. This
        involves standardization of various types of data counts into a common format and exclusion of data counts that
        are not required for a specific purpose. In addition, external data such as population data may have been integrated
        with diseases data to derive rates or for other applications. Data availability is also dependent on historical reporting priorities and not all
        diseases were reported by all locations every year.
        </more></p>

<p><strong>Version 1.0.0</strong><p>

<p><more>The current version (1.0.0) of level 1 data includes counts at the state level for smallpox, polio, measles, 
    mumps, rubella, hepatitis A, and whooping cough and at the city level for diphtheria. The time period of data 
    varies per disease somewhere between 1916 and 2010. This version includes cases as well as incidence rates per 
    100,000 population based on historical population estimates. These data have been used by investigators at the 
    University of Pittsburgh to estimate the impact of vaccination programs in the United States, recently published 
    in the New England Journal of Medicine. </more></p>

<br>

        <p><more><i>Project Tycho® level 2</i> data include data counts that have been filtered from the raw data to render standardized
        data that can be used immediately for analysis. All level 2 data have been reported in a common format and have not been
        transformed into a standard format by us, except for smallpox records that included repeated counts for the same location
        and week, but sometimes with different numbers. These duplicate smallpox records have been averaged into one count for
        each location and week. Level 2 data include counts for a wide variety of diseases and locations for varying time periods.
        Because not all data have been reported in a standardized format, level 2 data may be missing for certain diseases,
        locations, or years. We will continue to transform non-standard counts in a common format and will make these available in
        future versions of these data.  Data availability is also dependent on historical reporting priorities and not all diseases were reported by all locations
        every year.</more></p>

<p><strong>Version 1.1.0</strong></p>

        <p><more>The current version (1.1.0) includes counts at the city and state level for 50 contagious diseases for the entire 1888-2014 
        time period. The available years vary across locations and diseases. Version 1.1.0 includes counts for cases or deaths reported, 
        depending on the time period and disease.</more></p>

