@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    1200 North 14th Street<br />
    Nashville, TN 37206<br />
    <abbr title="Phone">P:</abbr>
    615-788-9047
</address>

<address>
    <strong>Email:</strong> <a href="mailto:thomshavor@gmail.com">thomshavor@gmail.com</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/tshavor">github.com/tshavor</a>
</address>
