@*this is where the data are being injected into the DOM at this point!*@
@*line 3 declares what view model we want to use for this view*@
@model Data_Dashboard.Views.View_Model.Index

@*1st dataset being injected  into the DOM*@
<div class="jumbotron">
    @*put form fields, buttons here...*@
    <form class="dropdownGraph1">
        <div class="form-horizontal">

            <div class="form-group">
                <label for="year">YEAR</label>
                <div class="col-md-8">
                    <select id="year">
                        <option value="1888">1888</option>
                        <option value="1889">1889</option>
                        <option value="1890">1890</option>
                        <option value="1891">1891</option>
                        <option value="1892">1892</option>
                        <option value="1893">1893</option>
                        <option value="1894">1894</option>
                        <option value="1895">1895</option>
                        <option value="1895">1895</option>
                        <option value="1896">1896</option>
                        <option value="1897">1897</option>
                        <option value="1898">1898</option>
                        <option value="1899">1899</option>
                        <option value="1900">1900</option>
                        <option value="1901">1901</option>
                        <option value="1902">1902</option>
                        <option value="1903">1903</option>
                        <option value="1904">1904</option>
                        <option value="1905">1905</option>
                        <option value="1906">1906</option>
                        <option value="1907">1907</option>
                        <option value="1908">1908</option>
                        <option value="1909">1909</option>
                        <option value="1910">1910</option>
                        <option value="1911"> 1911</option>
                        <option value="1912"> 1912</option>
                        <option value="1913">1913</option>
                        <option value="1914">1914</option>
                        <option value="1915">1915</option>
                        <option value="1916">1916</option>
                        <option value="1917">1917</option>
                        <option value="1918">1918</option>
                        <option value="1919">1919</option>
                        <option value="1920">1920</option>
                        <option value="1921">1921</option>
                        <option value="1922">1922</option>
                        <option value="1923">1923</option>
                        <option value="1924">1924</option>
                        <option value="1925">1925</option>
                        <option value="1926">1926</option>
                        <option value="1927">1927</option>
                        </select>
                </div>
            </div>

            <div class="form-group">
                <label for="disease">DISEASE</label>
                <div class="col-md-8">
                    <select id="cases">
                        <option value="VARICELLA">VARICELLA</option>
                        <option value="DIPHTHERIA">DIPHTHERIA</option>
                        <option value="INFLUENZA">INFLUENZA</option>
                        <option value="MENINGITIS">MENINGITIS</option>
                        <option value="MUMPS">MUMPS</option>
                        <option value="PNEUMONIA">PNEUMONIA</option>
                        <option value="SCARLET FEVER">SCARLET FEVER</option>
                        <option value="TUBERCULOSIS">TUBERCULOSIS</option>
                        <option value="TYPHOID FEVER">TYPHOID FEVER</option>
                        <option value="PERTUSSIS">PERTUSSIS</option>
                        </select>
                </div>
            </div>

            <div class="form-group">
                <label for="state">STATE</label>
                <div class="col-md-8">
                    <select id="cases">
                        <option value="TN">TN</option>
                        <option value="NY">NY</option>
                        <option value="IL">IL</option>
                        <option value="PA">PA</option>
                        <option value="MA">MA</option>
                        <option value="OH">OH</option>
                        <option value="CA">CA</option>
                        <option value="NJ">NJ</option>
                        <option value="MI">MI</option>
                        <option value="MD">MD</option>
                        <option value="MO">MO</option>
                        <option value="WI">WI</option>
                        <option value="MN">MN</option>
                        <option value="LA">M</option>
                        <option value="IN">IN</option>
                        <option value="DC">DC</option>
                        </select>
                    </div>
                </div>

            
            @*trying some new bootstrap buttons here....................................*@
            <div class="btn-group">
                <a href="#" class="btn btn-info">Year</a>
                <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="1888">1888</a></li>
                    <li><a href="1889">1889</a></li>
                    <li><a href="1890">1890</a></li>
                    <li><a href="1891">1891</a></li>
                    <li><a href="1892">1892</a></li>
                    <li><a href="1893">1893</a></li>
                    <li><a href="1894">1894</a></li>
                    <li><a href="1895">1895</a></li>
                    <li><a href="1896">1896</a></li>
                    </ul>
            </div>
            <div class="btn-group">
                <a href="#" class="btn btn-info">Disease</a>
                <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="VARICELLA">VARICELLA</a></li>
                    <li><a href="DIPHTHERIA">DIPHTHERIA</a></li>
                    <li><a href="INFLUENZA">INFLUENZA</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <a href="#" class="btn btn-info">State</a>
                <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="TN">TN</a></li>
                    <li><a href="NY">NY</a></li>
                    <li><a href="IL">IL</a></li>
                </ul>
            </div>

            <a href="#" class="btn btn-primary">SUBMIT</a>
            </div>
          </form>

    @*"somedata" can be named anything- monkeybutt, etc.*@
        @foreach (var somedata in Model.TychoLevel2)
      {
        <p>@somedata.disease</p>
      }
    </div>

@*2nd dataset being injected  into the DOM///////////////////////////////////////////////*@
<div class="jumbotron">
    @*put form fields, buttons here...*@




    @*"somedata" can be named anything- monkeybutt, etc.*@
    @foreach (var mydata in Model.TychoLevel2)
    {
        <p>@mydata.loc_type</p>
    }
</div>

    @*3rd dataset being injected  into the DOM///////////////////////////////////////////*@
<div class="jumbotron">
    @*put form fields, buttons here...*@




    @foreach (var monkeybutt in Model.TychoLevel1)

    {
        <p>@monkeybutt.incidence_per_100000</p>
    }
    </div>



    
