@*this is where the data are being injected into the DOM at this point!*@
@*line 3 declares what view model we want to use for this view*@
@model Data_Dashboard.Views.View_Model.Index

    <h3>Reported Diphtheria Morbidity, Selected U.S. States, 1916-1945</h3>
    <h5><i>First Decade (1916-1925), Second Decade (1926-1935), Third Decade (1936-1945)</i></h5>
<div class="jumbotron">
    <div id= "dashboard" class="graph"></div>
</div>
        

<form class="dropdownGraph1">
            <div class="form-horizontal">
               <div class="form-group">
                   <div class="row">

                       <div class="form-group">
                           <div class="col-md-2">
                               <select id="cases" class="selectedDisease1 form-control">
                                   <option value="DISEASE">DISEASE</option>
                                   <option value="DIPHTHERIA">DIPHTHERIA</option>
                                   <option value="SCARLET FEVER">SCARLET FEVER</option>
                                   <option value="TUBERCULOSIS [PHTHISIS PULMONALIS]">TUBERCULOSIS</option>
                                   <option value="TYPHOID FEVER [ENTERIC FEVER]">TYPHOID FEVER</option>
                                   </select>
                           </div>

                       <div class="col-md-2">
                           <select id="year" class="selectedYear1 form-control">
                               <option value="YEAR">YEAR</option>
                               <option value="1906">1906</option>
                               <option value="1907">1907</option>
                               <option value="1908">1908</option>
                               <option value="1909">1909</option>
                               <option value="1910">1910</option>
                               <option value="1911">1911</option>
                               <option value="1912">1912</option>
                               <option value="1913">1913</option>
                               <option value="1914">1914</option>
                               <option value="1915">1915</option>
                               <option value="1916">1916</option>
                               <option value="1917">1917</option>
                               <option value="1918">1918</option>
                               <option value="1919">1919</option>
                               <option value="1920">1920</option>
                               <option value="1921">1921</option>
                               <option value="1922">1922</option>
                               <option value="1923">1923</option>
                               <option value="1924">1924</option>
                               <option value="1925">1925</option>
                               <option value="1926">1926</option>
                               <option value="1927">1927</option>
                           </select>
                       </div>

                           <div class="form-group">
                               <div class="col-md-2">
                                   <select id="cases" class="selectedState1 form-control">
                                       <option value="STATE">STATE</option>
                                       <option value="TN">TN</option>
                                       <option value="NY">NY</option>
                                       <option value="IL">IL</option>
                                       <option value="PA">PA</option>
                                       <option value="MA">MA</option>
                                       <option value="OH">OH</option>
                                       <option value="CA">CA</option>
                                       <option value="NJ">NJ</option>
                                       <option value="MI">MI</option>
                                       <option value="MD">MD</option>
                                       <option value="MO">MO</option>
                                       <option value="WI">WI</option>
                                       <option value="MN">MN</option>
                                       <option value="LA">LA</option>
                                       <option value="IN">IN</option>
                                       <option value="DC">DC</option>
                                   </select>
                               </div>
                               <div class="col-md-2"><a class="btn btn-primary submitButton1">SUBMIT</a></div>
                           </div>
                       </div>
                   </div>
                 </div>
               </div>
            </form>

    <h3>Reported Disease Morbidity by Year and State, 1906-1927</h3>
<div class="jumbotron">
    <div id="graph1" class="graph1"></div>
    <text class="graph_label">MMWR Week</text>
</div>

@*2nd dataset being injected  into the DOM///////////////////////////////////////////////*@
      <form class="dropdownGraph2">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2">
                            <select id="cases" class="selectedDisease2 form-control">
                                <option value="DISEASE">DISEASE</option>
                                <option value="DIPHTHERIA">DIPHTHERIA</option>
                                <option value="SCARLET FEVER">SCARLET FEVER</option>
                                <option value="TUBERCULOSIS [PHTHISIS PULMONALIS]">TUBERCULOSIS</option>
                                <option value="TYPHOID FEVER [ENTERIC FEVER]">TYPHOID FEVER</option>
                                <option value="WHOOPING COUGH [PERTUSSIS]">PERTUSSIS</option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <select id="cases" class="selectedState2 form-control">
                                <option value="STATE">STATE</option>
                                <option value="TN">TN</option>
                                <option value="NY">NY</option>
                                <option value="IL">IL</option>
                                <option value="PA">PA</option>
                                <option value="MA">MA</option>
                                <option value="OH">OH</option>
                                <option value="CA">CA</option>
                                <option value="NJ">NJ</option>
                                <option value="MI">MI</option>
                                <option value="MD">MD</option>
                                <option value="MO">MO</option>
                                <option value="WI">WI</option>
                                <option value="MN">MN</option>
                                <option value="LA">LA</option>
                                <option value="IN">IN</option>
                                <option value="DC">DC</option>
                            </select>
                        </div>
                        <div class="col-md-2"><a class="btn btn-primary submitButton2">SUBMIT</a></div>
                    </div>
                  </div>
              </div>
         </div>
      </form>

    <h3>Reported Disease Mortality (Deaths) by State, 1888-1923</h3>
    <div class="jumbotron">
    <div id="graph2" class="graph2"></div>
        <text class="graph_label">Year</text>
    </div>

  

         

    