@*this is where the data are being injected into the DOM at this point!*@

@model Data_Dashboard.Views.View_Model.Index

@foreach (var somedata in Model.TychoLevel2)

{
<p>@somedata.disease</p>

}







@{await Html.RenderPartialAsync("Graph1");}

@*@{await Html.RenderPartialAsync("Graph2", "Home");}

@{await Html.RenderPartialAsync("Graph3", "Home");}*@

